{"openapi":"3.1.0","info":{"title":"Hedra API v3","version":"3.0.0"},"servers":[{"url":"https://api.hedra.com/v3","x-fern-server-name":"Production"},{"url":"https://api.staging.hedra.com/v3","x-fern-server-name":"Staging"}],"paths":{"/queue/{model}":{"post":{"tags":["Queue"],"summary":"Submit","operationId":"submit_queue__model__post","parameters":[{"name":"model","in":"path","required":true,"schema":{"type":"string","title":"Model"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitRequest"}}}},"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Rate limit exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}],"x-fern-sdk-group-name":"queue","x-fern-sdk-method-name":"submit"}},"/requests":{"get":{"tags":["Requests"],"summary":"List Requests","operationId":"list_requests_requests_get","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Limit"}},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Cursor"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestListResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Rate limit exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}],"x-fern-sdk-group-name":"requests","x-fern-sdk-method-name":"list","x-fern-pagination":{"cursor":"$request.cursor","next_cursor":"$response.next_cursor","results":"$response.data"}}},"/requests/{request_id}":{"get":{"tags":["Requests"],"summary":"Get Request","operationId":"get_request_requests__request_id__get","parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","title":"Request Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResultResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Rate limit exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}],"x-fern-sdk-group-name":"requests","x-fern-sdk-method-name":"get"}},"/requests/{request_id}/status":{"get":{"tags":["Requests"],"summary":"Get Request Status","operationId":"get_request_status_requests__request_id__status_get","parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","title":"Request Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Rate limit exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}],"x-fern-sdk-group-name":"requests","x-fern-sdk-method-name":"get_status"}},"/requests/{request_id}/stream":{"get":{"tags":["Requests"],"summary":"Stream Request","operationId":"stream_request_requests__request_id__stream_get","parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","title":"Request Id"}},{"name":"Last-Event-Id","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Last-Event-Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Rate limit exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}],"x-fern-sdk-group-name":"requests","x-fern-sdk-method-name":"stream"}},"/models":{"get":{"tags":["Models"],"summary":"List Models","operationId":"list_models_models_get","parameters":[{"name":"type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Type"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelListResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Rate limit exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-fern-sdk-group-name":"models","x-fern-sdk-method-name":"list"}},"/models/{model}":{"get":{"tags":["Models"],"summary":"Get Model","operationId":"get_model_models__model__get","parameters":[{"name":"model","in":"path","required":true,"schema":{"type":"string","title":"Model"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelDetail"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Rate limit exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-fern-sdk-group-name":"models","x-fern-sdk-method-name":"get"}},"/models/{model}/voices":{"get":{"tags":["Models"],"summary":"List Model Voices","description":"Voices this model accepts — scoped to the model's voice provider.","operationId":"list_model_voices_models__model__voices_get","parameters":[{"name":"model","in":"path","required":true,"schema":{"type":"string","title":"Model"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoiceListResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Rate limit exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-fern-sdk-group-name":"models","x-fern-sdk-method-name":"list_voices"}},"/models/{model}/openapi.json":{"get":{"tags":["Models"],"summary":"Get Model Openapi","description":"A standalone one-operation OpenAPI spec for this model's submit call.","operationId":"get_model_openapi_models__model__openapi_json_get","parameters":[{"name":"model","in":"path","required":true,"schema":{"type":"string","title":"Model"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Get Model Openapi Models  Model  Openapi Json Get"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Rate limit exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-fern-sdk-group-name":"models","x-fern-sdk-method-name":"get_openapi"}},"/models/{model}/estimate":{"post":{"tags":["Models"],"summary":"Estimate","operationId":"estimate_models__model__estimate_post","parameters":[{"name":"model","in":"path","required":true,"schema":{"type":"string","title":"Model"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EstimateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EstimateResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Rate limit exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}],"x-fern-sdk-group-name":"models","x-fern-sdk-method-name":"estimate"}},"/keys":{"post":{"tags":["Keys"],"summary":"Create Key","operationId":"create_key_keys_post","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyCreateRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyCreateResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Rate limit exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}],"x-fern-sdk-group-name":"keys","x-fern-sdk-method-name":"create"},"get":{"tags":["Keys"],"summary":"List Keys","operationId":"list_keys_keys_get","parameters":[{"name":"workspace_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Workspace Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyListResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Rate limit exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}],"x-fern-sdk-group-name":"keys","x-fern-sdk-method-name":"list"}},"/keys/{key_id}/rotate":{"post":{"tags":["Keys"],"summary":"Rotate Key","operationId":"rotate_key_keys__key_id__rotate_post","parameters":[{"name":"key_id","in":"path","required":true,"schema":{"type":"string","title":"Key Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyRotateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyRotateResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Rate limit exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}],"x-fern-sdk-group-name":"keys","x-fern-sdk-method-name":"rotate"}},"/keys/{key_id}":{"delete":{"tags":["Keys"],"summary":"Revoke Key","operationId":"revoke_key_keys__key_id__delete","parameters":[{"name":"key_id","in":"path","required":true,"schema":{"type":"string","title":"Key Id"}}],"responses":{"204":{"description":"Successful Response"},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Rate limit exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}],"x-fern-sdk-group-name":"keys","x-fern-sdk-method-name":"revoke"}},"/tokens":{"post":{"tags":["Tokens"],"summary":"Create Token","operationId":"create_token_tokens_post","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenCreateRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenCreateResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Rate limit exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}],"x-fern-sdk-group-name":"tokens","x-fern-sdk-method-name":"create"}},"/files":{"post":{"tags":["Files"],"summary":"Upload File","operationId":"upload_file_files_post","requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Body_upload_file_files_post"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileUploadResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Rate limit exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}],"x-fern-sdk-group-name":"files","x-fern-sdk-method-name":"upload"}},"/webhooks/public-key":{"get":{"tags":["Webhooks"],"summary":"Public Key","operationId":"public_key_webhooks_public_key_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookPublicKey"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-fern-sdk-group-name":"webhooks","x-fern-sdk-method-name":"get_public_key"}}},"components":{"schemas":{"ApiKeyKind":{"type":"string","enum":["personal","service"],"title":"ApiKeyKind","description":"Personal keys die with the member; service keys belong to the workspace."},"ApiKeyScope":{"type":"string","enum":["generations:write","requests:read","models:read","files:write","webhooks:manage","usage:read","keys:manage"],"title":"ApiKeyScope","description":"Least-privilege grants carried by v3 API keys.\n\nStored as text[] on api_keys; NULL scopes means full access (legacy keys).\nScopes without a live v3 surface yet (webhooks/usage) are accepted at\nkey creation for forward compatibility and enforced when those surfaces ship."},"Body_upload_file_files_post":{"properties":{"file":{"type":"string","contentMediaType":"application/octet-stream","title":"File"}},"type":"object","required":["file"],"title":"Body_upload_file_files_post"},"ErrorCode":{"type":"string","enum":["UNKNOWN","INVALID_ARGUMENT","NOT_FOUND","ALREADY_EXISTS","ALREADY_IN_PROGRESS","UNAUTHORIZED","PERMISSION_DENIED","MISSING_CREDITS","MODERATION_FAILED","FAILED_PRECONDITION","DEADLINE_EXCEEDED","RESOURCE_EXHAUSTED","UNAVAILABLE","INTERNAL"],"title":"ErrorCode","description":"Universal error code space. Modeled after gRPC status codes.\n\nEvery exception in the system carries an ErrorCode. SDK clients map\n3rd-party errors to these codes at the lowest level. Retry logic,\nHTTP status mapping, and OTEL metrics all key off this enum.\n\nNOTE: The semantic meaning of these error codes is roughly mapped from the\n    semantic of the gRPC status codes: see\n    https://grpc.io/docs/guides/status-codes/ for details."},"ErrorEnvelope":{"properties":{"code":{"$ref":"#/components/schemas/ErrorCode"},"message":{"type":"string","title":"Message"},"retryable":{"type":"boolean","title":"Retryable","default":false},"retry_after":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Retry After"}},"type":"object","required":["code","message"],"title":"ErrorEnvelope"},"ErrorResponse":{"properties":{"error":{"$ref":"#/components/schemas/ErrorEnvelope"}},"type":"object","required":["error"],"title":"ErrorResponse","description":"Top-level error body: ``{\"error\": {...}}``."},"EstimateRequest":{"properties":{"input":{"additionalProperties":true,"type":"object","title":"Input"}},"type":"object","title":"EstimateRequest"},"EstimateResponse":{"properties":{"model":{"type":"string","title":"Model"},"credits":{"type":"integer","title":"Credits"}},"type":"object","required":["model","credits"],"title":"EstimateResponse"},"FileUploadResponse":{"properties":{"url":{"type":"string","title":"Url"},"content_type":{"type":"string","title":"Content Type"},"expires_at":{"type":"string","title":"Expires At"}},"type":"object","required":["url","content_type","expires_at"],"title":"FileUploadResponse","description":"``POST /v3/files`` result. The presigned ``url`` *is* the file handle:\npass it as ``input.image_url`` / ``audio_url`` / ``video_url`` on submit\n(once reference inputs are wired — see the v3 plan doc)."},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"KeyCreateRequest":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"scopes":{"anyOf":[{"items":{"$ref":"#/components/schemas/ApiKeyScope"},"type":"array"},{"type":"null"}],"title":"Scopes"},"kind":{"$ref":"#/components/schemas/ApiKeyKind","default":"personal"},"workspace_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Workspace Id"},"expires_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Expires At"}},"type":"object","title":"KeyCreateRequest"},"KeyCreateResponse":{"properties":{"key_id":{"type":"string","title":"Key Id"},"credential":{"type":"string","title":"Credential"},"kind":{"$ref":"#/components/schemas/ApiKeyKind"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"scopes":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Scopes"},"workspace_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Workspace Id"},"expires_at":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Expires At"},"created_at":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Created At"}},"type":"object","required":["key_id","credential","kind"],"title":"KeyCreateResponse"},"KeyListResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/KeySummary"},"type":"array","title":"Data"},"next_cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}},"type":"object","title":"KeyListResponse"},"KeyRotateRequest":{"properties":{"grace_period_seconds":{"anyOf":[{"type":"integer","minimum":0},{"type":"null"}],"title":"Grace Period Seconds"}},"type":"object","title":"KeyRotateRequest"},"KeyRotateResponse":{"properties":{"key_id":{"type":"string","title":"Key Id"},"credential":{"type":"string","title":"Credential"},"kind":{"$ref":"#/components/schemas/ApiKeyKind"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"scopes":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Scopes"},"workspace_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Workspace Id"},"expires_at":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Expires At"},"previous_secret_expires_at":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Previous Secret Expires At"}},"type":"object","required":["key_id","credential","kind"],"title":"KeyRotateResponse"},"KeyStatus":{"type":"string","enum":["active","revoked","expired"],"title":"KeyStatus"},"KeySummary":{"properties":{"key_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Key Id"},"kind":{"$ref":"#/components/schemas/ApiKeyKind"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"scopes":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Scopes"},"workspace_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Workspace Id"},"status":{"$ref":"#/components/schemas/KeyStatus"},"created_at":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Created At"},"expires_at":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Expires At"},"revoked_at":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Revoked At"},"last_used_at":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Last Used At"}},"type":"object","required":["key_id","kind","status"],"title":"KeySummary"},"Metrics":{"properties":{"inference_time_ms":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Inference Time Ms"}},"type":"object","title":"Metrics"},"ModelDetail":{"properties":{"id":{"type":"string","title":"Id"},"kind":{"type":"string","title":"Kind"},"modality":{"type":"string","title":"Modality"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"input_schema":{"additionalProperties":true,"type":"object","title":"Input Schema"},"output_schema":{"additionalProperties":true,"type":"object","title":"Output Schema"},"routing":{"anyOf":[{"items":{"$ref":"#/components/schemas/ModelRoute"},"type":"array"},{"type":"null"}],"title":"Routing"},"variants":{"anyOf":[{"items":{"$ref":"#/components/schemas/ModelVariant"},"type":"array"},{"type":"null"}],"title":"Variants"}},"type":"object","required":["id","kind","modality"],"title":"ModelDetail"},"ModelListResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ModelSummary"},"type":"array","title":"Data"},"next_cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}},"type":"object","title":"ModelListResponse"},"ModelRoute":{"properties":{"when":{"type":"string","title":"When"},"variant":{"type":"string","title":"Variant"}},"type":"object","required":["when","variant"],"title":"ModelRoute"},"ModelSummary":{"properties":{"id":{"type":"string","title":"Id"},"modality":{"type":"string","title":"Modality"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"thumbnail_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Thumbnail Url"},"premium":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Premium"}},"type":"object","required":["id","modality"],"title":"ModelSummary"},"ModelVariant":{"properties":{"id":{"type":"string","title":"Id"},"mode":{"type":"string","title":"Mode"},"input_schema":{"additionalProperties":true,"type":"object","title":"Input Schema"},"output_schema":{"additionalProperties":true,"type":"object","title":"Output Schema"}},"type":"object","required":["id","mode"],"title":"ModelVariant"},"OutputItem":{"properties":{"status":{"$ref":"#/components/schemas/RequestStatus","default":"COMPLETED"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url"},"content_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Content Type"},"width":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Width"},"height":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Height"},"duration_ms":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Duration Ms"},"fps":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Fps"},"error":{"anyOf":[{"$ref":"#/components/schemas/ErrorEnvelope"},{"type":"null"}]}},"type":"object","title":"OutputItem","description":"One per-modality output. `outputs` is always an array, even for one."},"RequestListResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/RequestSummary"},"type":"array","title":"Data"},"next_cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}},"type":"object","title":"RequestListResponse"},"RequestStatus":{"type":"string","enum":["IN_QUEUE","IN_PROGRESS","COMPLETED","FAILED"],"title":"RequestStatus","description":"The only four states a request (or a single output) can be in."},"RequestSummary":{"properties":{"request_id":{"type":"string","title":"Request Id"},"model":{"type":"string","title":"Model"},"status":{"$ref":"#/components/schemas/RequestStatus"}},"type":"object","required":["request_id","model","status"],"title":"RequestSummary"},"ResultResponse":{"properties":{"request_id":{"type":"string","title":"Request Id"},"model":{"type":"string","title":"Model"},"status":{"$ref":"#/components/schemas/RequestStatus"},"outputs":{"items":{"$ref":"#/components/schemas/OutputItem"},"type":"array","title":"Outputs"},"metrics":{"anyOf":[{"$ref":"#/components/schemas/Metrics"},{"type":"null"}]},"error":{"anyOf":[{"$ref":"#/components/schemas/ErrorEnvelope"},{"type":"null"}]},"logs":{"items":{"$ref":"#/components/schemas/StatusLog"},"type":"array","title":"Logs"}},"type":"object","required":["request_id","model","status"],"title":"ResultResponse"},"StatusLog":{"properties":{"timestamp":{"type":"string","title":"Timestamp"},"message":{"type":"string","title":"Message"}},"type":"object","required":["timestamp","message"],"title":"StatusLog"},"StatusResponse":{"properties":{"request_id":{"type":"string","title":"Request Id"},"status":{"$ref":"#/components/schemas/RequestStatus"},"progress":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Progress"},"estimated_completion_at":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Estimated Completion At"},"logs":{"items":{"$ref":"#/components/schemas/StatusLog"},"type":"array","title":"Logs"}},"type":"object","required":["request_id","status"],"title":"StatusResponse"},"SubmitRequest":{"properties":{"input":{"additionalProperties":true,"type":"object","title":"Input"},"webhook":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Webhook"},"idempotency_key":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Idempotency Key"},"priority":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Priority"}},"type":"object","title":"SubmitRequest"},"SubmitResponse":{"properties":{"request_id":{"type":"string","title":"Request Id"},"model":{"type":"string","title":"Model"},"status":{"$ref":"#/components/schemas/RequestStatus"},"status_url":{"type":"string","title":"Status Url"},"response_url":{"type":"string","title":"Response Url"},"estimated_completion_at":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Estimated Completion At"}},"type":"object","required":["request_id","model","status","status_url","response_url"],"title":"SubmitResponse"},"TokenCreateRequest":{"properties":{"ttl_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Ttl Seconds"},"scopes":{"anyOf":[{"items":{"$ref":"#/components/schemas/ApiKeyScope"},"type":"array"},{"type":"null"}],"title":"Scopes"}},"type":"object","title":"TokenCreateRequest"},"TokenCreateResponse":{"properties":{"token":{"type":"string","title":"Token"},"expires_at":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Expires At"}},"type":"object","required":["token"],"title":"TokenCreateResponse"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"},"input":{"title":"Input"},"ctx":{"type":"object","title":"Context"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"VoiceListResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/VoiceSummary"},"type":"array","title":"Data"},"next_cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}},"type":"object","title":"VoiceListResponse"},"VoiceSummary":{"properties":{"id":{"type":"string","title":"Id"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"preview_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Preview Url"},"labels":{"additionalProperties":{"type":"string"},"type":"object","title":"Labels"}},"type":"object","required":["id"],"title":"VoiceSummary","description":"One voice a model accepts; `id` goes into ``input.voice_id`` on submit."},"WebhookPublicKey":{"properties":{"algorithm":{"type":"string","title":"Algorithm","default":"ed25519"},"public_key":{"type":"string","title":"Public Key"}},"type":"object","required":["public_key"],"title":"WebhookPublicKey","description":"The ed25519 public key callers verify outbound webhook signatures with."}},"securitySchemes":{"KeyAuth":{"type":"http","in":"header","name":"Authorization","description":"`Authorization: Bearer <credential>` — accepts an API key (`<key_id>:<secret>`) or an ephemeral token minted via `POST /tokens`.","scheme":"bearer","x-fern-bearer":{"name":"api_key","env":"HEDRA_API_KEY"}},"BearerToken":{"type":"http","scheme":"bearer","description":"`Authorization: Bearer <credential>` — accepts an API key (`<key_id>:<secret>`) or an ephemeral browser token minted via `POST /tokens` (inherits the minting key's scopes and workspace).","x-fern-bearer":{"name":"api_key","env":"HEDRA_API_KEY"}}}},"tags":[{"name":"Queue","description":"Submit generation requests."},{"name":"Requests","description":"Poll, stream, and list submitted requests."},{"name":"Models","description":"Discover models and estimate cost."},{"name":"Access","description":"API keys, browser tokens, and file uploads."},{"name":"Webhooks","description":"Public key for verifying outbound webhooks."}]}