{"openapi":"3.1.0","info":{"title":"Hedra API v3","description":"Every leading image, video, and audio model behind one endpoint, one key, and one bill. Browse the [model catalog](https://www.hedra-staging.com/develop/models), then ship with the same key.\n\n**Authenticate** every request with your API key — create one in the [developer console](https://www.hedra-staging.com/develop/api-keys): `Authorization: Key <key_id>:<secret>`.\n\n**Fund the API wallet** before your first call — this is the one bill, and it is prepaid. It is held in US dollars, it is separate from your Hedra Studio balance, and a workspace starts with **$0.00** in it; nothing you buy or hold in Studio moves money into it. Until it is funded, every generation is refused with `402 INSUFFICIENT_BALANCE`; uploading inputs with `POST /files` is free and works on an empty wallet, so you can stage a request and only meet the gate at submit. Add funds in the [developer console](https://www.hedra-staging.com/develop/billing), and read the wallet any time with `GET /balance`.\n\n**Quickstart** — submit a job, poll it, then read the output URL:\n\n```bash\n# 1. Submit — capture the job id from the 202 ack\nJOB_ID=$(curl -sS -X POST https://api.staging.hedra.com/v3/models/gpt-image-2 \\\n  -H \"Authorization: Key $HEDRA_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"input\": {\"prompt\": \"a space cat\", \"quality\": \"medium\", \"aspect_ratio\": \"1:1\", \"resolution\": \"1K\"}}' | jq -r .job_id)\n\n# 2. Poll until status is COMPLETED (or FAILED)\ncurl https://api.staging.hedra.com/v3/jobs/$JOB_ID/status -H \"Authorization: Key $HEDRA_KEY\"\n\n# 3. Read the result — outputs[].url holds the generated file\ncurl https://api.staging.hedra.com/v3/jobs/$JOB_ID -H \"Authorization: Key $HEDRA_KEY\"\n```\n\n**Find a model** — `GET /models` lists every model with its `id` and human `name`; each operation in the *Run a model* section is titled with both, so a model you know by name (\"GPT Image 2\") maps straight to the id you submit to (`gpt-image-2`). One model's typed input schema: `GET /models/{id}/openapi.json`.\n\nEstimate cost before you run with `POST /models/{model}/estimate`. For volume pricing and custom limits, [talk to us](https://www.hedra-staging.com/enterprise).\n\nThe full machine-readable spec is at `https://api.staging.hedra.com/v3/openapi.json`.","version":"3.0.0"},"servers":[{"url":"https://api.hedra.com/v3","x-fern-server-name":"Production"}],"paths":{"/jobs":{"get":{"tags":["Jobs"],"summary":"List Jobs","operationId":"jobs_list","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Maximum items per page.","default":20,"title":"Limit"},"description":"Maximum items per page."},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Opaque cursor from the previous page's `next_cursor`; omit for the first page.","title":"Cursor"},"description":"Opaque cursor from the previous page's `next_cursor`; omit for the first page."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobListResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"examples":{"field_validation":{"summary":"A submit `input` field failed schema validation","value":{"error":{"code":"INVALID_ARGUMENT","message":"2 input fields are invalid; see details.","retryable":false,"param":"input.aspect_ratio","details":[{"field":"input.aspect_ratio","message":"input.aspect_ratio: Input should be '16:9', '9:16' or '1:1'","reason":"enum"},{"field":"input.duration_ms","message":"input.duration_ms: Input should be greater than or equal to 1000","reason":"minimum"}]}}},"expired_file_handle":{"summary":"A `POST /v3/files` handle was submitted past its `expires_at`","value":{"error":{"code":"INVALID_ARGUMENT","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","retryable":false,"param":"input.images[0]","details":[{"field":"input.images[0]","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","reason":"expired"}]}}},"unsupported_model":{"summary":"The model exists but isn't wired to v3 yet","value":{"error":{"code":"FAILED_PRECONDITION","message":"Model 'some-model' (VIDEO) is not supported on v3 yet.","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"examples":{"missing_credentials":{"summary":"No credential on the request","value":{"error":{"code":"UNAUTHORIZED","message":"Missing credentials. Send 'Authorization: Key <key_id>:<secret>' or 'Authorization: Bearer <token>'.","retryable":false}}},"invalid_key":{"summary":"Credential present but not valid","value":{"error":{"code":"UNAUTHORIZED","message":"Invalid API key.","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"examples":{"no_api_access":{"summary":"Authenticated, but the plan excludes API access","value":{"error":{"code":"PERMISSION_DENIED","message":"This key's plan does not include API access.","retryable":false}}},"missing_scope":{"summary":"Key lacks a scope the operation requires","value":{"error":{"code":"PERMISSION_DENIED","message":"Key is missing required scope(s): jobs:write.","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found.","content":{"application/json":{"examples":{"job_not_found":{"summary":"Unknown job id, or not visible to the caller","value":{"error":{"code":"NOT_FOUND","message":"Job not found.","retryable":false}}},"model_not_found":{"summary":"No such model in the catalog","value":{"error":{"code":"NOT_FOUND","message":"Model 'some-model' not found.","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}},"content":{"application/json":{"examples":{"rate_limited":{"summary":"Per-key request rate limit exceeded","value":{"error":{"code":"RESOURCE_EXHAUSTED","message":"Request rate limit exceeded: this API key is limited to 60 requests per 60s. Retry after 30s. To follow job progress without polling, stream job status (https://www.hedra.com/docs/api-reference/v3/jobs/stream-job) or subscribe to webhooks (https://www.hedra.com/docs/api-reference/v3/webhooks).","retryable":true,"retry_after":30}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal error.","content":{"application/json":{"examples":{"internal":{"summary":"Unexpected server error; internals are never leaked","value":{"error":{"code":"INTERNAL","message":"An unexpected error occurred","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}],"x-fern-pagination":{"cursor":"$request.cursor","next_cursor":"$response.next_cursor","results":"$response.data"}}},"/jobs/{job_id}":{"get":{"tags":["Jobs"],"summary":"Get Job","operationId":"jobs_get","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","description":"The job's id (`job_<uuid>`).","title":"Job Id"},"description":"The job's id (`job_<uuid>`)."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResultResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"examples":{"field_validation":{"summary":"A submit `input` field failed schema validation","value":{"error":{"code":"INVALID_ARGUMENT","message":"2 input fields are invalid; see details.","retryable":false,"param":"input.aspect_ratio","details":[{"field":"input.aspect_ratio","message":"input.aspect_ratio: Input should be '16:9', '9:16' or '1:1'","reason":"enum"},{"field":"input.duration_ms","message":"input.duration_ms: Input should be greater than or equal to 1000","reason":"minimum"}]}}},"expired_file_handle":{"summary":"A `POST /v3/files` handle was submitted past its `expires_at`","value":{"error":{"code":"INVALID_ARGUMENT","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","retryable":false,"param":"input.images[0]","details":[{"field":"input.images[0]","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","reason":"expired"}]}}},"unsupported_model":{"summary":"The model exists but isn't wired to v3 yet","value":{"error":{"code":"FAILED_PRECONDITION","message":"Model 'some-model' (VIDEO) is not supported on v3 yet.","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"examples":{"missing_credentials":{"summary":"No credential on the request","value":{"error":{"code":"UNAUTHORIZED","message":"Missing credentials. Send 'Authorization: Key <key_id>:<secret>' or 'Authorization: Bearer <token>'.","retryable":false}}},"invalid_key":{"summary":"Credential present but not valid","value":{"error":{"code":"UNAUTHORIZED","message":"Invalid API key.","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"examples":{"no_api_access":{"summary":"Authenticated, but the plan excludes API access","value":{"error":{"code":"PERMISSION_DENIED","message":"This key's plan does not include API access.","retryable":false}}},"missing_scope":{"summary":"Key lacks a scope the operation requires","value":{"error":{"code":"PERMISSION_DENIED","message":"Key is missing required scope(s): jobs:write.","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found.","content":{"application/json":{"examples":{"job_not_found":{"summary":"Unknown job id, or not visible to the caller","value":{"error":{"code":"NOT_FOUND","message":"Job not found.","retryable":false}}},"model_not_found":{"summary":"No such model in the catalog","value":{"error":{"code":"NOT_FOUND","message":"Model 'some-model' not found.","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}},"content":{"application/json":{"examples":{"rate_limited":{"summary":"Per-key request rate limit exceeded","value":{"error":{"code":"RESOURCE_EXHAUSTED","message":"Request rate limit exceeded: this API key is limited to 60 requests per 60s. Retry after 30s. To follow job progress without polling, stream job status (https://www.hedra.com/docs/api-reference/v3/jobs/stream-job) or subscribe to webhooks (https://www.hedra.com/docs/api-reference/v3/webhooks).","retryable":true,"retry_after":30}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal error.","content":{"application/json":{"examples":{"internal":{"summary":"Unexpected server error; internals are never leaked","value":{"error":{"code":"INTERNAL","message":"An unexpected error occurred","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}]}},"/jobs/{job_id}/status":{"get":{"tags":["Jobs"],"summary":"Get Job Status","operationId":"jobs_get_status","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","description":"The job's id (`job_<uuid>`).","title":"Job Id"},"description":"The job's id (`job_<uuid>`)."},{"name":"logs_after","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Tail this job's lifecycle events incrementally: returns only events newer than this cursor, plus `logs_next_cursor` to send on the next poll. Pass `start` to begin from the job's first event. Omit it and the response carries no events at all — the default polling shape is unchanged.","title":"Logs After"},"description":"Tail this job's lifecycle events incrementally: returns only events newer than this cursor, plus `logs_next_cursor` to send on the next poll. Pass `start` to begin from the job's first event. Omit it and the response carries no events at all — the default polling shape is unchanged."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"examples":{"field_validation":{"summary":"A submit `input` field failed schema validation","value":{"error":{"code":"INVALID_ARGUMENT","message":"2 input fields are invalid; see details.","retryable":false,"param":"input.aspect_ratio","details":[{"field":"input.aspect_ratio","message":"input.aspect_ratio: Input should be '16:9', '9:16' or '1:1'","reason":"enum"},{"field":"input.duration_ms","message":"input.duration_ms: Input should be greater than or equal to 1000","reason":"minimum"}]}}},"expired_file_handle":{"summary":"A `POST /v3/files` handle was submitted past its `expires_at`","value":{"error":{"code":"INVALID_ARGUMENT","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","retryable":false,"param":"input.images[0]","details":[{"field":"input.images[0]","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","reason":"expired"}]}}},"unsupported_model":{"summary":"The model exists but isn't wired to v3 yet","value":{"error":{"code":"FAILED_PRECONDITION","message":"Model 'some-model' (VIDEO) is not supported on v3 yet.","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"examples":{"missing_credentials":{"summary":"No credential on the request","value":{"error":{"code":"UNAUTHORIZED","message":"Missing credentials. Send 'Authorization: Key <key_id>:<secret>' or 'Authorization: Bearer <token>'.","retryable":false}}},"invalid_key":{"summary":"Credential present but not valid","value":{"error":{"code":"UNAUTHORIZED","message":"Invalid API key.","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"examples":{"no_api_access":{"summary":"Authenticated, but the plan excludes API access","value":{"error":{"code":"PERMISSION_DENIED","message":"This key's plan does not include API access.","retryable":false}}},"missing_scope":{"summary":"Key lacks a scope the operation requires","value":{"error":{"code":"PERMISSION_DENIED","message":"Key is missing required scope(s): jobs:write.","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found.","content":{"application/json":{"examples":{"job_not_found":{"summary":"Unknown job id, or not visible to the caller","value":{"error":{"code":"NOT_FOUND","message":"Job not found.","retryable":false}}},"model_not_found":{"summary":"No such model in the catalog","value":{"error":{"code":"NOT_FOUND","message":"Model 'some-model' not found.","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}},"content":{"application/json":{"examples":{"rate_limited":{"summary":"Per-key request rate limit exceeded","value":{"error":{"code":"RESOURCE_EXHAUSTED","message":"Request rate limit exceeded: this API key is limited to 60 requests per 60s. Retry after 30s. To follow job progress without polling, stream job status (https://www.hedra.com/docs/api-reference/v3/jobs/stream-job) or subscribe to webhooks (https://www.hedra.com/docs/api-reference/v3/webhooks).","retryable":true,"retry_after":30}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal error.","content":{"application/json":{"examples":{"internal":{"summary":"Unexpected server error; internals are never leaked","value":{"error":{"code":"INTERNAL","message":"An unexpected error occurred","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}]}},"/jobs/{job_id}/logs":{"get":{"tags":["Jobs"],"summary":"List Job Logs","operationId":"jobs_list_job_logs","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","description":"The job's id (`job_<uuid>`).","title":"Job Id"},"description":"The job's id (`job_<uuid>`)."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Maximum items per page.","default":20,"title":"Limit"},"description":"Maximum items per page."},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Opaque cursor from the previous page's `next_cursor`; omit for the first page.","title":"Cursor"},"description":"Opaque cursor from the previous page's `next_cursor`; omit for the first page."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobLogListResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"examples":{"field_validation":{"summary":"A submit `input` field failed schema validation","value":{"error":{"code":"INVALID_ARGUMENT","message":"2 input fields are invalid; see details.","retryable":false,"param":"input.aspect_ratio","details":[{"field":"input.aspect_ratio","message":"input.aspect_ratio: Input should be '16:9', '9:16' or '1:1'","reason":"enum"},{"field":"input.duration_ms","message":"input.duration_ms: Input should be greater than or equal to 1000","reason":"minimum"}]}}},"expired_file_handle":{"summary":"A `POST /v3/files` handle was submitted past its `expires_at`","value":{"error":{"code":"INVALID_ARGUMENT","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","retryable":false,"param":"input.images[0]","details":[{"field":"input.images[0]","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","reason":"expired"}]}}},"unsupported_model":{"summary":"The model exists but isn't wired to v3 yet","value":{"error":{"code":"FAILED_PRECONDITION","message":"Model 'some-model' (VIDEO) is not supported on v3 yet.","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"examples":{"missing_credentials":{"summary":"No credential on the request","value":{"error":{"code":"UNAUTHORIZED","message":"Missing credentials. Send 'Authorization: Key <key_id>:<secret>' or 'Authorization: Bearer <token>'.","retryable":false}}},"invalid_key":{"summary":"Credential present but not valid","value":{"error":{"code":"UNAUTHORIZED","message":"Invalid API key.","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"examples":{"no_api_access":{"summary":"Authenticated, but the plan excludes API access","value":{"error":{"code":"PERMISSION_DENIED","message":"This key's plan does not include API access.","retryable":false}}},"missing_scope":{"summary":"Key lacks a scope the operation requires","value":{"error":{"code":"PERMISSION_DENIED","message":"Key is missing required scope(s): jobs:write.","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found.","content":{"application/json":{"examples":{"job_not_found":{"summary":"Unknown job id, or not visible to the caller","value":{"error":{"code":"NOT_FOUND","message":"Job not found.","retryable":false}}},"model_not_found":{"summary":"No such model in the catalog","value":{"error":{"code":"NOT_FOUND","message":"Model 'some-model' not found.","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}},"content":{"application/json":{"examples":{"rate_limited":{"summary":"Per-key request rate limit exceeded","value":{"error":{"code":"RESOURCE_EXHAUSTED","message":"Request rate limit exceeded: this API key is limited to 60 requests per 60s. Retry after 30s. To follow job progress without polling, stream job status (https://www.hedra.com/docs/api-reference/v3/jobs/stream-job) or subscribe to webhooks (https://www.hedra.com/docs/api-reference/v3/webhooks).","retryable":true,"retry_after":30}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal error.","content":{"application/json":{"examples":{"internal":{"summary":"Unexpected server error; internals are never leaked","value":{"error":{"code":"INTERNAL","message":"An unexpected error occurred","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}],"x-fern-pagination":{"cursor":"$request.cursor","next_cursor":"$response.next_cursor","results":"$response.data"}}},"/jobs/{job_id}/stream":{"get":{"tags":["Jobs"],"summary":"Stream Job","operationId":"jobs_stream","parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","description":"The job's id (`job_<uuid>`).","title":"Job Id"},"description":"The job's id (`job_<uuid>`)."},{"name":"Last-Event-Id","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Resume after this event id — the standard SSE reconnect header; browsers' EventSource sends it automatically.","title":"Last-Event-Id"},"description":"Resume after this event id — the standard SSE reconnect header; browsers' EventSource sends it automatically."}],"responses":{"200":{"description":"Server-Sent Events. Each frame's `event:` names its type and its `data:` line is one JSON payload: `status` carries a `StatusResponse`, `log` a `JobLogItem` (the same row `GET /jobs/{job_id}/logs` serves). The stream opens with a `status` snapshot and closes once a terminal status is sent. Frames also carry an `id:` to send back as `Last-Event-Id` on reconnect; comment lines (`: keep-alive`) and `retry:` lines are protocol-level and carry no payload.","content":{"text/event-stream":{"schema":{"title":"JobStreamFrame","description":"The payload of one frame's `data:` line, selected by the frame's `event:` type — `status` or `log`.","oneOf":[{"$ref":"#/components/schemas/StatusResponse"},{"$ref":"#/components/schemas/JobLogItem"}]}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"examples":{"field_validation":{"summary":"A submit `input` field failed schema validation","value":{"error":{"code":"INVALID_ARGUMENT","message":"2 input fields are invalid; see details.","retryable":false,"param":"input.aspect_ratio","details":[{"field":"input.aspect_ratio","message":"input.aspect_ratio: Input should be '16:9', '9:16' or '1:1'","reason":"enum"},{"field":"input.duration_ms","message":"input.duration_ms: Input should be greater than or equal to 1000","reason":"minimum"}]}}},"expired_file_handle":{"summary":"A `POST /v3/files` handle was submitted past its `expires_at`","value":{"error":{"code":"INVALID_ARGUMENT","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","retryable":false,"param":"input.images[0]","details":[{"field":"input.images[0]","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","reason":"expired"}]}}},"unsupported_model":{"summary":"The model exists but isn't wired to v3 yet","value":{"error":{"code":"FAILED_PRECONDITION","message":"Model 'some-model' (VIDEO) is not supported on v3 yet.","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"examples":{"missing_credentials":{"summary":"No credential on the request","value":{"error":{"code":"UNAUTHORIZED","message":"Missing credentials. Send 'Authorization: Key <key_id>:<secret>' or 'Authorization: Bearer <token>'.","retryable":false}}},"invalid_key":{"summary":"Credential present but not valid","value":{"error":{"code":"UNAUTHORIZED","message":"Invalid API key.","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"examples":{"no_api_access":{"summary":"Authenticated, but the plan excludes API access","value":{"error":{"code":"PERMISSION_DENIED","message":"This key's plan does not include API access.","retryable":false}}},"missing_scope":{"summary":"Key lacks a scope the operation requires","value":{"error":{"code":"PERMISSION_DENIED","message":"Key is missing required scope(s): jobs:write.","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found.","content":{"application/json":{"examples":{"job_not_found":{"summary":"Unknown job id, or not visible to the caller","value":{"error":{"code":"NOT_FOUND","message":"Job not found.","retryable":false}}},"model_not_found":{"summary":"No such model in the catalog","value":{"error":{"code":"NOT_FOUND","message":"Model 'some-model' not found.","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}},"content":{"application/json":{"examples":{"rate_limited":{"summary":"Per-key request rate limit exceeded","value":{"error":{"code":"RESOURCE_EXHAUSTED","message":"Request rate limit exceeded: this API key is limited to 60 requests per 60s. Retry after 30s. To follow job progress without polling, stream job status (https://www.hedra.com/docs/api-reference/v3/jobs/stream-job) or subscribe to webhooks (https://www.hedra.com/docs/api-reference/v3/webhooks).","retryable":true,"retry_after":30}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal error.","content":{"application/json":{"examples":{"internal":{"summary":"Unexpected server error; internals are never leaked","value":{"error":{"code":"INTERNAL","message":"An unexpected error occurred","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}],"x-fern-streaming":{"format":"sse"}}},"/models":{"get":{"tags":["Models"],"summary":"List Models","operationId":"models_list","parameters":[{"name":"modality","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/Modality"},{"type":"null"}],"description":"Only models with this modality, matching `modality` on each returned model.","title":"Modality"},"description":"Only models with this modality, matching `modality` on each returned model."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelListResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"examples":{"field_validation":{"summary":"A submit `input` field failed schema validation","value":{"error":{"code":"INVALID_ARGUMENT","message":"2 input fields are invalid; see details.","retryable":false,"param":"input.aspect_ratio","details":[{"field":"input.aspect_ratio","message":"input.aspect_ratio: Input should be '16:9', '9:16' or '1:1'","reason":"enum"},{"field":"input.duration_ms","message":"input.duration_ms: Input should be greater than or equal to 1000","reason":"minimum"}]}}},"expired_file_handle":{"summary":"A `POST /v3/files` handle was submitted past its `expires_at`","value":{"error":{"code":"INVALID_ARGUMENT","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","retryable":false,"param":"input.images[0]","details":[{"field":"input.images[0]","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","reason":"expired"}]}}},"unsupported_model":{"summary":"The model exists but isn't wired to v3 yet","value":{"error":{"code":"FAILED_PRECONDITION","message":"Model 'some-model' (VIDEO) is not supported on v3 yet.","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"examples":{"no_api_access":{"summary":"Authenticated, but the plan excludes API access","value":{"error":{"code":"PERMISSION_DENIED","message":"This key's plan does not include API access.","retryable":false}}},"missing_scope":{"summary":"Key lacks a scope the operation requires","value":{"error":{"code":"PERMISSION_DENIED","message":"Key is missing required scope(s): jobs:write.","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found.","content":{"application/json":{"examples":{"job_not_found":{"summary":"Unknown job id, or not visible to the caller","value":{"error":{"code":"NOT_FOUND","message":"Job not found.","retryable":false}}},"model_not_found":{"summary":"No such model in the catalog","value":{"error":{"code":"NOT_FOUND","message":"Model 'some-model' not found.","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded.","headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}},"content":{"application/json":{"examples":{"rate_limited":{"summary":"Per-key request rate limit exceeded","value":{"error":{"code":"RESOURCE_EXHAUSTED","message":"Request rate limit exceeded: this API key is limited to 60 requests per 60s. Retry after 30s. To follow job progress without polling, stream job status (https://www.hedra.com/docs/api-reference/v3/jobs/stream-job) or subscribe to webhooks (https://www.hedra.com/docs/api-reference/v3/webhooks).","retryable":true,"retry_after":30}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal error.","content":{"application/json":{"examples":{"internal":{"summary":"Unexpected server error; internals are never leaked","value":{"error":{"code":"INTERNAL","message":"An unexpected error occurred","retryable":false}}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/models/dreamina-31":{"post":{"tags":["Jobs"],"operationId":"submit_dreamina_31","summary":"Run Dreamina 3.1 (dreamina-31)","description":"Ultra high quality generations for professional grade images.\n\nSubmits an asynchronous job and returns `202` with a job id. Fetch the result at `GET /v3/jobs/{job_id}` — each item in its `outputs[]` follows the `OutputItem` schema — or track progress via `GET /v3/jobs/{job_id}/status` / the SSE stream at `GET /v3/jobs/{job_id}/stream`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitBody_dreamina_31"}}}},"responses":{"202":{"description":"Accepted. The job runs asynchronously; poll `status_url` / `result_url` from the ack.","headers":{"Location":{"description":"Path of the job resource this submit created — the same value as the ack's `result_url`.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"field_validation":{"summary":"A submit `input` field failed schema validation","value":{"error":{"code":"INVALID_ARGUMENT","message":"2 input fields are invalid; see details.","retryable":false,"param":"input.aspect_ratio","details":[{"field":"input.aspect_ratio","message":"input.aspect_ratio: Input should be '16:9', '9:16' or '1:1'","reason":"enum"},{"field":"input.duration_ms","message":"input.duration_ms: Input should be greater than or equal to 1000","reason":"minimum"}]}}},"expired_file_handle":{"summary":"A `POST /v3/files` handle was submitted past its `expires_at`","value":{"error":{"code":"INVALID_ARGUMENT","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","retryable":false,"param":"input.images[0]","details":[{"field":"input.images[0]","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","reason":"expired"}]}}},"unsupported_model":{"summary":"The model exists but isn't wired to v3 yet","value":{"error":{"code":"FAILED_PRECONDITION","message":"Model 'some-model' (VIDEO) is not supported on v3 yet.","retryable":false}}}}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"missing_credentials":{"summary":"No credential on the request","value":{"error":{"code":"UNAUTHORIZED","message":"Missing credentials. Send 'Authorization: Key <key_id>:<secret>' or 'Authorization: Bearer <token>'.","retryable":false}}},"invalid_key":{"summary":"Credential present but not valid","value":{"error":{"code":"UNAUTHORIZED","message":"Invalid API key.","retryable":false}}}}}}},"402":{"description":"The API wallet cannot cover this request. `error.billing` carries the balance, the price, and where to add funds.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"unfunded_submit":{"summary":"The API wallet cannot pay for this job","value":{"error":{"code":"INSUFFICIENT_BALANCE","message":"Your API wallet balance is $0.00 and this request costs $0.05. The API wallet is funded separately from Studio and pays only for API requests — add funds at https://www.hedra.com/develop/billing, then retry.","retryable":false,"billing":{"balance":0,"required":0.05,"currency":"USD","funding_url":"https://www.hedra.com/develop/billing?add_funds=true"}}}},"unquotable_submit":{"summary":"The model cannot be priced before its inputs are measured, so `required` is null","value":{"error":{"code":"INSUFFICIENT_BALANCE","message":"Your API wallet balance is $0.00. The API wallet is funded separately from Studio and pays only for API requests — add funds at https://www.hedra.com/develop/billing, then retry.","retryable":false,"billing":{"balance":0,"currency":"USD","funding_url":"https://www.hedra.com/develop/billing?add_funds=true"}}}}}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"no_api_access":{"summary":"Authenticated, but the plan excludes API access","value":{"error":{"code":"PERMISSION_DENIED","message":"This key's plan does not include API access.","retryable":false}}},"missing_scope":{"summary":"Key lacks a scope the operation requires","value":{"error":{"code":"PERMISSION_DENIED","message":"Key is missing required scope(s): jobs:write.","retryable":false}}}}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"job_not_found":{"summary":"Unknown job id, or not visible to the caller","value":{"error":{"code":"NOT_FOUND","message":"Job not found.","retryable":false}}},"model_not_found":{"summary":"No such model in the catalog","value":{"error":{"code":"NOT_FOUND","message":"Model 'some-model' not found.","retryable":false}}}}}}},"422":{"description":"Moderation refused the request's content.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"moderation_failed":{"summary":"A reference image was refused by moderation","value":{"error":{"code":"MODERATION_FAILED","message":"Image failed moderation.","retryable":false}}}}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"rate_limited":{"summary":"Per-key request rate limit exceeded","value":{"error":{"code":"RESOURCE_EXHAUSTED","message":"Request rate limit exceeded: this API key is limited to 60 requests per 60s. Retry after 30s. To follow job progress without polling, stream job status (https://www.hedra.com/docs/api-reference/v3/jobs/stream-job) or subscribe to webhooks (https://www.hedra.com/docs/api-reference/v3/webhooks).","retryable":true,"retry_after":30}}}}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"internal":{"summary":"Unexpected server error; internals are never leaked","value":{"error":{"code":"INTERNAL","message":"An unexpected error occurred","retryable":false}}}}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}]}},"/models/elevenlabs-flash-multilingual-v2":{"post":{"tags":["Jobs"],"operationId":"submit_elevenlabs_flash_multilingual_v2","summary":"Run ElevenLabs Flash Multilingual V2 (elevenlabs-flash-multilingual-v2)","description":"Submits an asynchronous job and returns `202` with a job id. Fetch the result at `GET /v3/jobs/{job_id}` — each item in its `outputs[]` follows the `OutputItem` schema — or track progress via `GET /v3/jobs/{job_id}/status` / the SSE stream at `GET /v3/jobs/{job_id}/stream`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitBody_elevenlabs_flash_multilingual_v2"}}}},"responses":{"202":{"description":"Accepted. The job runs asynchronously; poll `status_url` / `result_url` from the ack.","headers":{"Location":{"description":"Path of the job resource this submit created — the same value as the ack's `result_url`.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"field_validation":{"summary":"A submit `input` field failed schema validation","value":{"error":{"code":"INVALID_ARGUMENT","message":"2 input fields are invalid; see details.","retryable":false,"param":"input.aspect_ratio","details":[{"field":"input.aspect_ratio","message":"input.aspect_ratio: Input should be '16:9', '9:16' or '1:1'","reason":"enum"},{"field":"input.duration_ms","message":"input.duration_ms: Input should be greater than or equal to 1000","reason":"minimum"}]}}},"expired_file_handle":{"summary":"A `POST /v3/files` handle was submitted past its `expires_at`","value":{"error":{"code":"INVALID_ARGUMENT","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","retryable":false,"param":"input.images[0]","details":[{"field":"input.images[0]","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","reason":"expired"}]}}},"unsupported_model":{"summary":"The model exists but isn't wired to v3 yet","value":{"error":{"code":"FAILED_PRECONDITION","message":"Model 'some-model' (VIDEO) is not supported on v3 yet.","retryable":false}}}}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"missing_credentials":{"summary":"No credential on the request","value":{"error":{"code":"UNAUTHORIZED","message":"Missing credentials. Send 'Authorization: Key <key_id>:<secret>' or 'Authorization: Bearer <token>'.","retryable":false}}},"invalid_key":{"summary":"Credential present but not valid","value":{"error":{"code":"UNAUTHORIZED","message":"Invalid API key.","retryable":false}}}}}}},"402":{"description":"The API wallet cannot cover this request. `error.billing` carries the balance, the price, and where to add funds.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"unfunded_submit":{"summary":"The API wallet cannot pay for this job","value":{"error":{"code":"INSUFFICIENT_BALANCE","message":"Your API wallet balance is $0.00 and this request costs $0.05. The API wallet is funded separately from Studio and pays only for API requests — add funds at https://www.hedra.com/develop/billing, then retry.","retryable":false,"billing":{"balance":0,"required":0.05,"currency":"USD","funding_url":"https://www.hedra.com/develop/billing?add_funds=true"}}}},"unquotable_submit":{"summary":"The model cannot be priced before its inputs are measured, so `required` is null","value":{"error":{"code":"INSUFFICIENT_BALANCE","message":"Your API wallet balance is $0.00. The API wallet is funded separately from Studio and pays only for API requests — add funds at https://www.hedra.com/develop/billing, then retry.","retryable":false,"billing":{"balance":0,"currency":"USD","funding_url":"https://www.hedra.com/develop/billing?add_funds=true"}}}}}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"no_api_access":{"summary":"Authenticated, but the plan excludes API access","value":{"error":{"code":"PERMISSION_DENIED","message":"This key's plan does not include API access.","retryable":false}}},"missing_scope":{"summary":"Key lacks a scope the operation requires","value":{"error":{"code":"PERMISSION_DENIED","message":"Key is missing required scope(s): jobs:write.","retryable":false}}}}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"job_not_found":{"summary":"Unknown job id, or not visible to the caller","value":{"error":{"code":"NOT_FOUND","message":"Job not found.","retryable":false}}},"model_not_found":{"summary":"No such model in the catalog","value":{"error":{"code":"NOT_FOUND","message":"Model 'some-model' not found.","retryable":false}}}}}}},"422":{"description":"Moderation refused the request's content.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"moderation_failed":{"summary":"A reference image was refused by moderation","value":{"error":{"code":"MODERATION_FAILED","message":"Image failed moderation.","retryable":false}}}}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"rate_limited":{"summary":"Per-key request rate limit exceeded","value":{"error":{"code":"RESOURCE_EXHAUSTED","message":"Request rate limit exceeded: this API key is limited to 60 requests per 60s. Retry after 30s. To follow job progress without polling, stream job status (https://www.hedra.com/docs/api-reference/v3/jobs/stream-job) or subscribe to webhooks (https://www.hedra.com/docs/api-reference/v3/webhooks).","retryable":true,"retry_after":30}}}}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"internal":{"summary":"Unexpected server error; internals are never leaked","value":{"error":{"code":"INTERNAL","message":"An unexpected error occurred","retryable":false}}}}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}]}},"/models/elevenlabs-flash-v2":{"post":{"tags":["Jobs"],"operationId":"submit_elevenlabs_flash_v2","summary":"Run ElevenLabs Flash V2 (elevenlabs-flash-v2)","description":"Submits an asynchronous job and returns `202` with a job id. Fetch the result at `GET /v3/jobs/{job_id}` — each item in its `outputs[]` follows the `OutputItem` schema — or track progress via `GET /v3/jobs/{job_id}/status` / the SSE stream at `GET /v3/jobs/{job_id}/stream`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitBody_elevenlabs_flash_v2"}}}},"responses":{"202":{"description":"Accepted. The job runs asynchronously; poll `status_url` / `result_url` from the ack.","headers":{"Location":{"description":"Path of the job resource this submit created — the same value as the ack's `result_url`.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"field_validation":{"summary":"A submit `input` field failed schema validation","value":{"error":{"code":"INVALID_ARGUMENT","message":"2 input fields are invalid; see details.","retryable":false,"param":"input.aspect_ratio","details":[{"field":"input.aspect_ratio","message":"input.aspect_ratio: Input should be '16:9', '9:16' or '1:1'","reason":"enum"},{"field":"input.duration_ms","message":"input.duration_ms: Input should be greater than or equal to 1000","reason":"minimum"}]}}},"expired_file_handle":{"summary":"A `POST /v3/files` handle was submitted past its `expires_at`","value":{"error":{"code":"INVALID_ARGUMENT","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","retryable":false,"param":"input.images[0]","details":[{"field":"input.images[0]","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","reason":"expired"}]}}},"unsupported_model":{"summary":"The model exists but isn't wired to v3 yet","value":{"error":{"code":"FAILED_PRECONDITION","message":"Model 'some-model' (VIDEO) is not supported on v3 yet.","retryable":false}}}}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"missing_credentials":{"summary":"No credential on the request","value":{"error":{"code":"UNAUTHORIZED","message":"Missing credentials. Send 'Authorization: Key <key_id>:<secret>' or 'Authorization: Bearer <token>'.","retryable":false}}},"invalid_key":{"summary":"Credential present but not valid","value":{"error":{"code":"UNAUTHORIZED","message":"Invalid API key.","retryable":false}}}}}}},"402":{"description":"The API wallet cannot cover this request. `error.billing` carries the balance, the price, and where to add funds.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"unfunded_submit":{"summary":"The API wallet cannot pay for this job","value":{"error":{"code":"INSUFFICIENT_BALANCE","message":"Your API wallet balance is $0.00 and this request costs $0.05. The API wallet is funded separately from Studio and pays only for API requests — add funds at https://www.hedra.com/develop/billing, then retry.","retryable":false,"billing":{"balance":0,"required":0.05,"currency":"USD","funding_url":"https://www.hedra.com/develop/billing?add_funds=true"}}}},"unquotable_submit":{"summary":"The model cannot be priced before its inputs are measured, so `required` is null","value":{"error":{"code":"INSUFFICIENT_BALANCE","message":"Your API wallet balance is $0.00. The API wallet is funded separately from Studio and pays only for API requests — add funds at https://www.hedra.com/develop/billing, then retry.","retryable":false,"billing":{"balance":0,"currency":"USD","funding_url":"https://www.hedra.com/develop/billing?add_funds=true"}}}}}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"no_api_access":{"summary":"Authenticated, but the plan excludes API access","value":{"error":{"code":"PERMISSION_DENIED","message":"This key's plan does not include API access.","retryable":false}}},"missing_scope":{"summary":"Key lacks a scope the operation requires","value":{"error":{"code":"PERMISSION_DENIED","message":"Key is missing required scope(s): jobs:write.","retryable":false}}}}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"job_not_found":{"summary":"Unknown job id, or not visible to the caller","value":{"error":{"code":"NOT_FOUND","message":"Job not found.","retryable":false}}},"model_not_found":{"summary":"No such model in the catalog","value":{"error":{"code":"NOT_FOUND","message":"Model 'some-model' not found.","retryable":false}}}}}}},"422":{"description":"Moderation refused the request's content.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"moderation_failed":{"summary":"A reference image was refused by moderation","value":{"error":{"code":"MODERATION_FAILED","message":"Image failed moderation.","retryable":false}}}}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"rate_limited":{"summary":"Per-key request rate limit exceeded","value":{"error":{"code":"RESOURCE_EXHAUSTED","message":"Request rate limit exceeded: this API key is limited to 60 requests per 60s. Retry after 30s. To follow job progress without polling, stream job status (https://www.hedra.com/docs/api-reference/v3/jobs/stream-job) or subscribe to webhooks (https://www.hedra.com/docs/api-reference/v3/webhooks).","retryable":true,"retry_after":30}}}}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"internal":{"summary":"Unexpected server error; internals are never leaked","value":{"error":{"code":"INTERNAL","message":"An unexpected error occurred","retryable":false}}}}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}]}},"/models/elevenlabs-multilingual-v2":{"post":{"tags":["Jobs"],"operationId":"submit_elevenlabs_multilingual_v2","summary":"Run ElevenLabs Multilingual V2 (elevenlabs-multilingual-v2)","description":"Submits an asynchronous job and returns `202` with a job id. Fetch the result at `GET /v3/jobs/{job_id}` — each item in its `outputs[]` follows the `OutputItem` schema — or track progress via `GET /v3/jobs/{job_id}/status` / the SSE stream at `GET /v3/jobs/{job_id}/stream`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitBody_elevenlabs_multilingual_v2"}}}},"responses":{"202":{"description":"Accepted. The job runs asynchronously; poll `status_url` / `result_url` from the ack.","headers":{"Location":{"description":"Path of the job resource this submit created — the same value as the ack's `result_url`.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"field_validation":{"summary":"A submit `input` field failed schema validation","value":{"error":{"code":"INVALID_ARGUMENT","message":"2 input fields are invalid; see details.","retryable":false,"param":"input.aspect_ratio","details":[{"field":"input.aspect_ratio","message":"input.aspect_ratio: Input should be '16:9', '9:16' or '1:1'","reason":"enum"},{"field":"input.duration_ms","message":"input.duration_ms: Input should be greater than or equal to 1000","reason":"minimum"}]}}},"expired_file_handle":{"summary":"A `POST /v3/files` handle was submitted past its `expires_at`","value":{"error":{"code":"INVALID_ARGUMENT","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","retryable":false,"param":"input.images[0]","details":[{"field":"input.images[0]","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","reason":"expired"}]}}},"unsupported_model":{"summary":"The model exists but isn't wired to v3 yet","value":{"error":{"code":"FAILED_PRECONDITION","message":"Model 'some-model' (VIDEO) is not supported on v3 yet.","retryable":false}}}}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"missing_credentials":{"summary":"No credential on the request","value":{"error":{"code":"UNAUTHORIZED","message":"Missing credentials. Send 'Authorization: Key <key_id>:<secret>' or 'Authorization: Bearer <token>'.","retryable":false}}},"invalid_key":{"summary":"Credential present but not valid","value":{"error":{"code":"UNAUTHORIZED","message":"Invalid API key.","retryable":false}}}}}}},"402":{"description":"The API wallet cannot cover this request. `error.billing` carries the balance, the price, and where to add funds.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"unfunded_submit":{"summary":"The API wallet cannot pay for this job","value":{"error":{"code":"INSUFFICIENT_BALANCE","message":"Your API wallet balance is $0.00 and this request costs $0.05. The API wallet is funded separately from Studio and pays only for API requests — add funds at https://www.hedra.com/develop/billing, then retry.","retryable":false,"billing":{"balance":0,"required":0.05,"currency":"USD","funding_url":"https://www.hedra.com/develop/billing?add_funds=true"}}}},"unquotable_submit":{"summary":"The model cannot be priced before its inputs are measured, so `required` is null","value":{"error":{"code":"INSUFFICIENT_BALANCE","message":"Your API wallet balance is $0.00. The API wallet is funded separately from Studio and pays only for API requests — add funds at https://www.hedra.com/develop/billing, then retry.","retryable":false,"billing":{"balance":0,"currency":"USD","funding_url":"https://www.hedra.com/develop/billing?add_funds=true"}}}}}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"no_api_access":{"summary":"Authenticated, but the plan excludes API access","value":{"error":{"code":"PERMISSION_DENIED","message":"This key's plan does not include API access.","retryable":false}}},"missing_scope":{"summary":"Key lacks a scope the operation requires","value":{"error":{"code":"PERMISSION_DENIED","message":"Key is missing required scope(s): jobs:write.","retryable":false}}}}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"job_not_found":{"summary":"Unknown job id, or not visible to the caller","value":{"error":{"code":"NOT_FOUND","message":"Job not found.","retryable":false}}},"model_not_found":{"summary":"No such model in the catalog","value":{"error":{"code":"NOT_FOUND","message":"Model 'some-model' not found.","retryable":false}}}}}}},"422":{"description":"Moderation refused the request's content.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"moderation_failed":{"summary":"A reference image was refused by moderation","value":{"error":{"code":"MODERATION_FAILED","message":"Image failed moderation.","retryable":false}}}}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"rate_limited":{"summary":"Per-key request rate limit exceeded","value":{"error":{"code":"RESOURCE_EXHAUSTED","message":"Request rate limit exceeded: this API key is limited to 60 requests per 60s. Retry after 30s. To follow job progress without polling, stream job status (https://www.hedra.com/docs/api-reference/v3/jobs/stream-job) or subscribe to webhooks (https://www.hedra.com/docs/api-reference/v3/webhooks).","retryable":true,"retry_after":30}}}}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"internal":{"summary":"Unexpected server error; internals are never leaked","value":{"error":{"code":"INTERNAL","message":"An unexpected error occurred","retryable":false}}}}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}]}},"/models/elevenlabs-v3":{"post":{"tags":["Jobs"],"operationId":"submit_elevenlabs_v3","summary":"Run ElevenLabs V3 (elevenlabs-v3)","description":"ElevenLabs V3\n\nSubmits an asynchronous job and returns `202` with a job id. Fetch the result at `GET /v3/jobs/{job_id}` — each item in its `outputs[]` follows the `OutputItem` schema — or track progress via `GET /v3/jobs/{job_id}/status` / the SSE stream at `GET /v3/jobs/{job_id}/stream`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitBody_elevenlabs_v3"}}}},"responses":{"202":{"description":"Accepted. The job runs asynchronously; poll `status_url` / `result_url` from the ack.","headers":{"Location":{"description":"Path of the job resource this submit created — the same value as the ack's `result_url`.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"field_validation":{"summary":"A submit `input` field failed schema validation","value":{"error":{"code":"INVALID_ARGUMENT","message":"2 input fields are invalid; see details.","retryable":false,"param":"input.aspect_ratio","details":[{"field":"input.aspect_ratio","message":"input.aspect_ratio: Input should be '16:9', '9:16' or '1:1'","reason":"enum"},{"field":"input.duration_ms","message":"input.duration_ms: Input should be greater than or equal to 1000","reason":"minimum"}]}}},"expired_file_handle":{"summary":"A `POST /v3/files` handle was submitted past its `expires_at`","value":{"error":{"code":"INVALID_ARGUMENT","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","retryable":false,"param":"input.images[0]","details":[{"field":"input.images[0]","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","reason":"expired"}]}}},"unsupported_model":{"summary":"The model exists but isn't wired to v3 yet","value":{"error":{"code":"FAILED_PRECONDITION","message":"Model 'some-model' (VIDEO) is not supported on v3 yet.","retryable":false}}}}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"missing_credentials":{"summary":"No credential on the request","value":{"error":{"code":"UNAUTHORIZED","message":"Missing credentials. Send 'Authorization: Key <key_id>:<secret>' or 'Authorization: Bearer <token>'.","retryable":false}}},"invalid_key":{"summary":"Credential present but not valid","value":{"error":{"code":"UNAUTHORIZED","message":"Invalid API key.","retryable":false}}}}}}},"402":{"description":"The API wallet cannot cover this request. `error.billing` carries the balance, the price, and where to add funds.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"unfunded_submit":{"summary":"The API wallet cannot pay for this job","value":{"error":{"code":"INSUFFICIENT_BALANCE","message":"Your API wallet balance is $0.00 and this request costs $0.05. The API wallet is funded separately from Studio and pays only for API requests — add funds at https://www.hedra.com/develop/billing, then retry.","retryable":false,"billing":{"balance":0,"required":0.05,"currency":"USD","funding_url":"https://www.hedra.com/develop/billing?add_funds=true"}}}},"unquotable_submit":{"summary":"The model cannot be priced before its inputs are measured, so `required` is null","value":{"error":{"code":"INSUFFICIENT_BALANCE","message":"Your API wallet balance is $0.00. The API wallet is funded separately from Studio and pays only for API requests — add funds at https://www.hedra.com/develop/billing, then retry.","retryable":false,"billing":{"balance":0,"currency":"USD","funding_url":"https://www.hedra.com/develop/billing?add_funds=true"}}}}}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"no_api_access":{"summary":"Authenticated, but the plan excludes API access","value":{"error":{"code":"PERMISSION_DENIED","message":"This key's plan does not include API access.","retryable":false}}},"missing_scope":{"summary":"Key lacks a scope the operation requires","value":{"error":{"code":"PERMISSION_DENIED","message":"Key is missing required scope(s): jobs:write.","retryable":false}}}}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"job_not_found":{"summary":"Unknown job id, or not visible to the caller","value":{"error":{"code":"NOT_FOUND","message":"Job not found.","retryable":false}}},"model_not_found":{"summary":"No such model in the catalog","value":{"error":{"code":"NOT_FOUND","message":"Model 'some-model' not found.","retryable":false}}}}}}},"422":{"description":"Moderation refused the request's content.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"moderation_failed":{"summary":"A reference image was refused by moderation","value":{"error":{"code":"MODERATION_FAILED","message":"Image failed moderation.","retryable":false}}}}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"rate_limited":{"summary":"Per-key request rate limit exceeded","value":{"error":{"code":"RESOURCE_EXHAUSTED","message":"Request rate limit exceeded: this API key is limited to 60 requests per 60s. Retry after 30s. To follow job progress without polling, stream job status (https://www.hedra.com/docs/api-reference/v3/jobs/stream-job) or subscribe to webhooks (https://www.hedra.com/docs/api-reference/v3/webhooks).","retryable":true,"retry_after":30}}}}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"internal":{"summary":"Unexpected server error; internals are never leaked","value":{"error":{"code":"INTERNAL","message":"An unexpected error occurred","retryable":false}}}}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}]}},"/models/flux-11-pro":{"post":{"tags":["Jobs"],"operationId":"submit_flux_11_pro","summary":"Run Flux 1.1 Pro (flux-11-pro)","description":"Premium color depth and clarity when you want campaign-ready art that feels handcrafted.\n\nSubmits an asynchronous job and returns `202` with a job id. Fetch the result at `GET /v3/jobs/{job_id}` — each item in its `outputs[]` follows the `OutputItem` schema — or track progress via `GET /v3/jobs/{job_id}/status` / the SSE stream at `GET /v3/jobs/{job_id}/stream`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitBody_flux_11_pro"}}}},"responses":{"202":{"description":"Accepted. The job runs asynchronously; poll `status_url` / `result_url` from the ack.","headers":{"Location":{"description":"Path of the job resource this submit created — the same value as the ack's `result_url`.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"field_validation":{"summary":"A submit `input` field failed schema validation","value":{"error":{"code":"INVALID_ARGUMENT","message":"2 input fields are invalid; see details.","retryable":false,"param":"input.aspect_ratio","details":[{"field":"input.aspect_ratio","message":"input.aspect_ratio: Input should be '16:9', '9:16' or '1:1'","reason":"enum"},{"field":"input.duration_ms","message":"input.duration_ms: Input should be greater than or equal to 1000","reason":"minimum"}]}}},"expired_file_handle":{"summary":"A `POST /v3/files` handle was submitted past its `expires_at`","value":{"error":{"code":"INVALID_ARGUMENT","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","retryable":false,"param":"input.images[0]","details":[{"field":"input.images[0]","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","reason":"expired"}]}}},"unsupported_model":{"summary":"The model exists but isn't wired to v3 yet","value":{"error":{"code":"FAILED_PRECONDITION","message":"Model 'some-model' (VIDEO) is not supported on v3 yet.","retryable":false}}}}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"missing_credentials":{"summary":"No credential on the request","value":{"error":{"code":"UNAUTHORIZED","message":"Missing credentials. Send 'Authorization: Key <key_id>:<secret>' or 'Authorization: Bearer <token>'.","retryable":false}}},"invalid_key":{"summary":"Credential present but not valid","value":{"error":{"code":"UNAUTHORIZED","message":"Invalid API key.","retryable":false}}}}}}},"402":{"description":"The API wallet cannot cover this request. `error.billing` carries the balance, the price, and where to add funds.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"unfunded_submit":{"summary":"The API wallet cannot pay for this job","value":{"error":{"code":"INSUFFICIENT_BALANCE","message":"Your API wallet balance is $0.00 and this request costs $0.05. The API wallet is funded separately from Studio and pays only for API requests — add funds at https://www.hedra.com/develop/billing, then retry.","retryable":false,"billing":{"balance":0,"required":0.05,"currency":"USD","funding_url":"https://www.hedra.com/develop/billing?add_funds=true"}}}},"unquotable_submit":{"summary":"The model cannot be priced before its inputs are measured, so `required` is null","value":{"error":{"code":"INSUFFICIENT_BALANCE","message":"Your API wallet balance is $0.00. The API wallet is funded separately from Studio and pays only for API requests — add funds at https://www.hedra.com/develop/billing, then retry.","retryable":false,"billing":{"balance":0,"currency":"USD","funding_url":"https://www.hedra.com/develop/billing?add_funds=true"}}}}}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"no_api_access":{"summary":"Authenticated, but the plan excludes API access","value":{"error":{"code":"PERMISSION_DENIED","message":"This key's plan does not include API access.","retryable":false}}},"missing_scope":{"summary":"Key lacks a scope the operation requires","value":{"error":{"code":"PERMISSION_DENIED","message":"Key is missing required scope(s): jobs:write.","retryable":false}}}}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"job_not_found":{"summary":"Unknown job id, or not visible to the caller","value":{"error":{"code":"NOT_FOUND","message":"Job not found.","retryable":false}}},"model_not_found":{"summary":"No such model in the catalog","value":{"error":{"code":"NOT_FOUND","message":"Model 'some-model' not found.","retryable":false}}}}}}},"422":{"description":"Moderation refused the request's content.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"moderation_failed":{"summary":"A reference image was refused by moderation","value":{"error":{"code":"MODERATION_FAILED","message":"Image failed moderation.","retryable":false}}}}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"rate_limited":{"summary":"Per-key request rate limit exceeded","value":{"error":{"code":"RESOURCE_EXHAUSTED","message":"Request rate limit exceeded: this API key is limited to 60 requests per 60s. Retry after 30s. To follow job progress without polling, stream job status (https://www.hedra.com/docs/api-reference/v3/jobs/stream-job) or subscribe to webhooks (https://www.hedra.com/docs/api-reference/v3/webhooks).","retryable":true,"retry_after":30}}}}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"internal":{"summary":"Unexpected server error; internals are never leaked","value":{"error":{"code":"INTERNAL","message":"An unexpected error occurred","retryable":false}}}}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}]}},"/models/flux-11-ultra":{"post":{"tags":["Jobs"],"operationId":"submit_flux_11_ultra","summary":"Run Flux 1.1 Ultra (flux-11-ultra)","description":"The big-canvas choice for ultra-high-res images and flagship visuals.\n\nSubmits an asynchronous job and returns `202` with a job id. Fetch the result at `GET /v3/jobs/{job_id}` — each item in its `outputs[]` follows the `OutputItem` schema — or track progress via `GET /v3/jobs/{job_id}/status` / the SSE stream at `GET /v3/jobs/{job_id}/stream`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitBody_flux_11_ultra"}}}},"responses":{"202":{"description":"Accepted. The job runs asynchronously; poll `status_url` / `result_url` from the ack.","headers":{"Location":{"description":"Path of the job resource this submit created — the same value as the ack's `result_url`.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"field_validation":{"summary":"A submit `input` field failed schema validation","value":{"error":{"code":"INVALID_ARGUMENT","message":"2 input fields are invalid; see details.","retryable":false,"param":"input.aspect_ratio","details":[{"field":"input.aspect_ratio","message":"input.aspect_ratio: Input should be '16:9', '9:16' or '1:1'","reason":"enum"},{"field":"input.duration_ms","message":"input.duration_ms: Input should be greater than or equal to 1000","reason":"minimum"}]}}},"expired_file_handle":{"summary":"A `POST /v3/files` handle was submitted past its `expires_at`","value":{"error":{"code":"INVALID_ARGUMENT","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","retryable":false,"param":"input.images[0]","details":[{"field":"input.images[0]","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","reason":"expired"}]}}},"unsupported_model":{"summary":"The model exists but isn't wired to v3 yet","value":{"error":{"code":"FAILED_PRECONDITION","message":"Model 'some-model' (VIDEO) is not supported on v3 yet.","retryable":false}}}}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"missing_credentials":{"summary":"No credential on the request","value":{"error":{"code":"UNAUTHORIZED","message":"Missing credentials. Send 'Authorization: Key <key_id>:<secret>' or 'Authorization: Bearer <token>'.","retryable":false}}},"invalid_key":{"summary":"Credential present but not valid","value":{"error":{"code":"UNAUTHORIZED","message":"Invalid API key.","retryable":false}}}}}}},"402":{"description":"The API wallet cannot cover this request. `error.billing` carries the balance, the price, and where to add funds.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"unfunded_submit":{"summary":"The API wallet cannot pay for this job","value":{"error":{"code":"INSUFFICIENT_BALANCE","message":"Your API wallet balance is $0.00 and this request costs $0.05. The API wallet is funded separately from Studio and pays only for API requests — add funds at https://www.hedra.com/develop/billing, then retry.","retryable":false,"billing":{"balance":0,"required":0.05,"currency":"USD","funding_url":"https://www.hedra.com/develop/billing?add_funds=true"}}}},"unquotable_submit":{"summary":"The model cannot be priced before its inputs are measured, so `required` is null","value":{"error":{"code":"INSUFFICIENT_BALANCE","message":"Your API wallet balance is $0.00. The API wallet is funded separately from Studio and pays only for API requests — add funds at https://www.hedra.com/develop/billing, then retry.","retryable":false,"billing":{"balance":0,"currency":"USD","funding_url":"https://www.hedra.com/develop/billing?add_funds=true"}}}}}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"no_api_access":{"summary":"Authenticated, but the plan excludes API access","value":{"error":{"code":"PERMISSION_DENIED","message":"This key's plan does not include API access.","retryable":false}}},"missing_scope":{"summary":"Key lacks a scope the operation requires","value":{"error":{"code":"PERMISSION_DENIED","message":"Key is missing required scope(s): jobs:write.","retryable":false}}}}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"job_not_found":{"summary":"Unknown job id, or not visible to the caller","value":{"error":{"code":"NOT_FOUND","message":"Job not found.","retryable":false}}},"model_not_found":{"summary":"No such model in the catalog","value":{"error":{"code":"NOT_FOUND","message":"Model 'some-model' not found.","retryable":false}}}}}}},"422":{"description":"Moderation refused the request's content.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"moderation_failed":{"summary":"A reference image was refused by moderation","value":{"error":{"code":"MODERATION_FAILED","message":"Image failed moderation.","retryable":false}}}}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"rate_limited":{"summary":"Per-key request rate limit exceeded","value":{"error":{"code":"RESOURCE_EXHAUSTED","message":"Request rate limit exceeded: this API key is limited to 60 requests per 60s. Retry after 30s. To follow job progress without polling, stream job status (https://www.hedra.com/docs/api-reference/v3/jobs/stream-job) or subscribe to webhooks (https://www.hedra.com/docs/api-reference/v3/webhooks).","retryable":true,"retry_after":30}}}}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"internal":{"summary":"Unexpected server error; internals are never leaked","value":{"error":{"code":"INTERNAL","message":"An unexpected error occurred","retryable":false}}}}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}]}},"/models/flux-3":{"post":{"tags":["Jobs"],"operationId":"submit_flux_3","summary":"Run FLUX.3 (flux-3)","description":"Black Forest Labs FLUX.3 text-to-video with native audio.\n\nSubmits an asynchronous job and returns `202` with a job id. Fetch the result at `GET /v3/jobs/{job_id}` — each item in its `outputs[]` follows the `OutputItem` schema — or track progress via `GET /v3/jobs/{job_id}/status` / the SSE stream at `GET /v3/jobs/{job_id}/stream`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitBody_flux_3"}}}},"responses":{"202":{"description":"Accepted. The job runs asynchronously; poll `status_url` / `result_url` from the ack.","headers":{"Location":{"description":"Path of the job resource this submit created — the same value as the ack's `result_url`.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"field_validation":{"summary":"A submit `input` field failed schema validation","value":{"error":{"code":"INVALID_ARGUMENT","message":"2 input fields are invalid; see details.","retryable":false,"param":"input.aspect_ratio","details":[{"field":"input.aspect_ratio","message":"input.aspect_ratio: Input should be '16:9', '9:16' or '1:1'","reason":"enum"},{"field":"input.duration_ms","message":"input.duration_ms: Input should be greater than or equal to 1000","reason":"minimum"}]}}},"expired_file_handle":{"summary":"A `POST /v3/files` handle was submitted past its `expires_at`","value":{"error":{"code":"INVALID_ARGUMENT","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","retryable":false,"param":"input.images[0]","details":[{"field":"input.images[0]","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","reason":"expired"}]}}},"unsupported_model":{"summary":"The model exists but isn't wired to v3 yet","value":{"error":{"code":"FAILED_PRECONDITION","message":"Model 'some-model' (VIDEO) is not supported on v3 yet.","retryable":false}}}}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"missing_credentials":{"summary":"No credential on the request","value":{"error":{"code":"UNAUTHORIZED","message":"Missing credentials. Send 'Authorization: Key <key_id>:<secret>' or 'Authorization: Bearer <token>'.","retryable":false}}},"invalid_key":{"summary":"Credential present but not valid","value":{"error":{"code":"UNAUTHORIZED","message":"Invalid API key.","retryable":false}}}}}}},"402":{"description":"The API wallet cannot cover this request. `error.billing` carries the balance, the price, and where to add funds.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"unfunded_submit":{"summary":"The API wallet cannot pay for this job","value":{"error":{"code":"INSUFFICIENT_BALANCE","message":"Your API wallet balance is $0.00 and this request costs $0.05. The API wallet is funded separately from Studio and pays only for API requests — add funds at https://www.hedra.com/develop/billing, then retry.","retryable":false,"billing":{"balance":0,"required":0.05,"currency":"USD","funding_url":"https://www.hedra.com/develop/billing?add_funds=true"}}}},"unquotable_submit":{"summary":"The model cannot be priced before its inputs are measured, so `required` is null","value":{"error":{"code":"INSUFFICIENT_BALANCE","message":"Your API wallet balance is $0.00. The API wallet is funded separately from Studio and pays only for API requests — add funds at https://www.hedra.com/develop/billing, then retry.","retryable":false,"billing":{"balance":0,"currency":"USD","funding_url":"https://www.hedra.com/develop/billing?add_funds=true"}}}}}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"no_api_access":{"summary":"Authenticated, but the plan excludes API access","value":{"error":{"code":"PERMISSION_DENIED","message":"This key's plan does not include API access.","retryable":false}}},"missing_scope":{"summary":"Key lacks a scope the operation requires","value":{"error":{"code":"PERMISSION_DENIED","message":"Key is missing required scope(s): jobs:write.","retryable":false}}}}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"job_not_found":{"summary":"Unknown job id, or not visible to the caller","value":{"error":{"code":"NOT_FOUND","message":"Job not found.","retryable":false}}},"model_not_found":{"summary":"No such model in the catalog","value":{"error":{"code":"NOT_FOUND","message":"Model 'some-model' not found.","retryable":false}}}}}}},"422":{"description":"Moderation refused the request's content.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"moderation_failed":{"summary":"A reference image was refused by moderation","value":{"error":{"code":"MODERATION_FAILED","message":"Image failed moderation.","retryable":false}}}}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"rate_limited":{"summary":"Per-key request rate limit exceeded","value":{"error":{"code":"RESOURCE_EXHAUSTED","message":"Request rate limit exceeded: this API key is limited to 60 requests per 60s. Retry after 30s. To follow job progress without polling, stream job status (https://www.hedra.com/docs/api-reference/v3/jobs/stream-job) or subscribe to webhooks (https://www.hedra.com/docs/api-reference/v3/webhooks).","retryable":true,"retry_after":30}}}}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"internal":{"summary":"Unexpected server error; internals are never leaked","value":{"error":{"code":"INTERNAL","message":"An unexpected error occurred","retryable":false}}}}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}]}},"/models/flux-dev":{"post":{"tags":["Jobs"],"operationId":"submit_flux_dev","summary":"Run Flux Dev (flux-dev)","description":"Fast and light for quick concepts or high-volume social posts on a budget.\n\nSubmits an asynchronous job and returns `202` with a job id. Fetch the result at `GET /v3/jobs/{job_id}` — each item in its `outputs[]` follows the `OutputItem` schema — or track progress via `GET /v3/jobs/{job_id}/status` / the SSE stream at `GET /v3/jobs/{job_id}/stream`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitBody_flux_dev"}}}},"responses":{"202":{"description":"Accepted. The job runs asynchronously; poll `status_url` / `result_url` from the ack.","headers":{"Location":{"description":"Path of the job resource this submit created — the same value as the ack's `result_url`.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"field_validation":{"summary":"A submit `input` field failed schema validation","value":{"error":{"code":"INVALID_ARGUMENT","message":"2 input fields are invalid; see details.","retryable":false,"param":"input.aspect_ratio","details":[{"field":"input.aspect_ratio","message":"input.aspect_ratio: Input should be '16:9', '9:16' or '1:1'","reason":"enum"},{"field":"input.duration_ms","message":"input.duration_ms: Input should be greater than or equal to 1000","reason":"minimum"}]}}},"expired_file_handle":{"summary":"A `POST /v3/files` handle was submitted past its `expires_at`","value":{"error":{"code":"INVALID_ARGUMENT","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","retryable":false,"param":"input.images[0]","details":[{"field":"input.images[0]","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","reason":"expired"}]}}},"unsupported_model":{"summary":"The model exists but isn't wired to v3 yet","value":{"error":{"code":"FAILED_PRECONDITION","message":"Model 'some-model' (VIDEO) is not supported on v3 yet.","retryable":false}}}}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"missing_credentials":{"summary":"No credential on the request","value":{"error":{"code":"UNAUTHORIZED","message":"Missing credentials. Send 'Authorization: Key <key_id>:<secret>' or 'Authorization: Bearer <token>'.","retryable":false}}},"invalid_key":{"summary":"Credential present but not valid","value":{"error":{"code":"UNAUTHORIZED","message":"Invalid API key.","retryable":false}}}}}}},"402":{"description":"The API wallet cannot cover this request. `error.billing` carries the balance, the price, and where to add funds.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"unfunded_submit":{"summary":"The API wallet cannot pay for this job","value":{"error":{"code":"INSUFFICIENT_BALANCE","message":"Your API wallet balance is $0.00 and this request costs $0.05. The API wallet is funded separately from Studio and pays only for API requests — add funds at https://www.hedra.com/develop/billing, then retry.","retryable":false,"billing":{"balance":0,"required":0.05,"currency":"USD","funding_url":"https://www.hedra.com/develop/billing?add_funds=true"}}}},"unquotable_submit":{"summary":"The model cannot be priced before its inputs are measured, so `required` is null","value":{"error":{"code":"INSUFFICIENT_BALANCE","message":"Your API wallet balance is $0.00. The API wallet is funded separately from Studio and pays only for API requests — add funds at https://www.hedra.com/develop/billing, then retry.","retryable":false,"billing":{"balance":0,"currency":"USD","funding_url":"https://www.hedra.com/develop/billing?add_funds=true"}}}}}}}},"403":{"description":"Insufficient scope or plan.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"no_api_access":{"summary":"Authenticated, but the plan excludes API access","value":{"error":{"code":"PERMISSION_DENIED","message":"This key's plan does not include API access.","retryable":false}}},"missing_scope":{"summary":"Key lacks a scope the operation requires","value":{"error":{"code":"PERMISSION_DENIED","message":"Key is missing required scope(s): jobs:write.","retryable":false}}}}}}},"404":{"description":"Resource not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"job_not_found":{"summary":"Unknown job id, or not visible to the caller","value":{"error":{"code":"NOT_FOUND","message":"Job not found.","retryable":false}}},"model_not_found":{"summary":"No such model in the catalog","value":{"error":{"code":"NOT_FOUND","message":"Model 'some-model' not found.","retryable":false}}}}}}},"422":{"description":"Moderation refused the request's content.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"moderation_failed":{"summary":"A reference image was refused by moderation","value":{"error":{"code":"MODERATION_FAILED","message":"Image failed moderation.","retryable":false}}}}}}},"429":{"description":"Rate limit exceeded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"rate_limited":{"summary":"Per-key request rate limit exceeded","value":{"error":{"code":"RESOURCE_EXHAUSTED","message":"Request rate limit exceeded: this API key is limited to 60 requests per 60s. Retry after 30s. To follow job progress without polling, stream job status (https://www.hedra.com/docs/api-reference/v3/jobs/stream-job) or subscribe to webhooks (https://www.hedra.com/docs/api-reference/v3/webhooks).","retryable":true,"retry_after":30}}}}}},"headers":{"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}},"X-RateLimit-Limit":{"description":"Request budget for the current window.","schema":{"type":"integer"}},"X-RateLimit-Remaining":{"description":"Requests left in the current window.","schema":{"type":"integer"}},"X-RateLimit-Reset":{"description":"Unix epoch second the window resets at.","schema":{"type":"integer"}}}},"500":{"description":"Internal error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"internal":{"summary":"Unexpected server error; internals are never leaked","value":{"error":{"code":"INTERNAL","message":"An unexpected error occurred","retryable":false}}}}}}}},"security":[{"KeyAuth":[]},{"BearerToken":[]}]}},"/models/flux-kontext-max":{"post":{"tags":["Jobs"],"operationId":"submit_flux_kontext_max","summary":"Run Flux Kontext Max (flux-kontext-max)","description":"Highest-fidelity reference-image support for complex, multi-element scenes and perfectly matched branded visuals.\n\nSubmits an asynchronous job and returns `202` with a job id. Fetch the result at `GET /v3/jobs/{job_id}` — each item in its `outputs[]` follows the `OutputItem` schema — or track progress via `GET /v3/jobs/{job_id}/status` / the SSE stream at `GET /v3/jobs/{job_id}/stream`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitBody_flux_kontext_max"}}}},"responses":{"202":{"description":"Accepted. The job runs asynchronously; poll `status_url` / `result_url` from the ack.","headers":{"Location":{"description":"Path of the job resource this submit created — the same value as the ack's `result_url`.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitResponse"}}}},"400":{"description":"Invalid or failed-validation request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"field_validation":{"summary":"A submit `input` field failed schema validation","value":{"error":{"code":"INVALID_ARGUMENT","message":"2 input fields are invalid; see details.","retryable":false,"param":"input.aspect_ratio","details":[{"field":"input.aspect_ratio","message":"input.aspect_ratio: Input should be '16:9', '9:16' or '1:1'","reason":"enum"},{"field":"input.duration_ms","message":"input.duration_ms: Input should be greater than or equal to 1000","reason":"minimum"}]}}},"expired_file_handle":{"summary":"A `POST /v3/files` handle was submitted past its `expires_at`","value":{"error":{"code":"INVALID_ARGUMENT","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","retryable":false,"param":"input.images[0]","details":[{"field":"input.images[0]","message":"input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.","reason":"expired"}]}}},"unsupported_model":{"summary":"The model exists but isn't wired to v3 yet","value":{"error":{"code":"FAILED_PRECONDITION","message":"Model 'some-model' (VIDEO) is not supported on v3 yet.","retryable":false}}}}}}},"401":{"description":"Authentication failed: missing, malformed, or invalid credentials.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"missing_credentials":{"summary":"No credential on the request","value":{"error":{"code":"UNAUTHORIZED","message":"Missing credentials. Send 'Authorization: Key <key_id>:<secret>' or 'Authorization: Bearer <token>'.","retryable":false}}},"invalid_key":{"summary":"Credential present but not valid","value":{"error":{"code":"UNAUTHORIZED","message":"Invalid API key.","retryable":false}}}}}}},"402":{"description":"The API wallet cannot cover this request. `error.billing` carries the balance, the price, and where to add funds.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"unfunded_submit":{"summary":"The API wallet cannot pay for this job","value":{"error":{"code":"INSUFFICIENT_BALANCE","message":"Your API wallet balance is $0.00 and this request costs $0.05. The API wallet is funded separately from Studio and pays only for API requests — add funds at https://www.hedra.com/develop/billing, then retry.","retryable":false,"billing":{"balance":0,"required":0.05,"currency":"USD","funding_url":"https://www.hedra.com/develop/billing?add_funds=true"}}}},"unquotable_submit":{"summary":"The model cannot be priced before its inputs are measured, so `required` is null","value":{"error":{"code":"INSUFFICIENT_BALANCE","message":"Your API wallet balance is $0.00. The API wallet is funded separately from Studio and pays only for API requests — add funds at https://www.hedra.com/develop/billing, then retry.","retryable":false,"billing":{"balance":0,"currency
[...]
